#**Gran Encuesta Integrada de Hogares**

**Miembros del grupo:**

* Cristian Camilo Serna Betancur, CC 1018351871, Ingeniería de Sistemas
* Diego Alonso Herrera Ramírez, CC 70908268, Ingeniería de Sistemas
* Sharid Samantha Madrid Ospina, CC 1001652997, Ingeniería de Sistemas

Creamos una nueva base de datos, en la que solo estan las columnas que necesitamos.

In [32]:
import pandas as pd

# Cargar el conjunto de datos original con el delimitador correcto
data = pd.read_csv("/content/Gran_Encuesta_Integrada_de_Hogares.csv", delimiter=";")

print(data.columns)

<ipython-input-32-40e16539e6b2>:4: DtypeWarning: Columns (71,111,117,120,127,129,132,139,140,148,150,204,213,215,220,223,226,228,241,249,251,276,286,289,299,302,305,307,311,315,325,338,343) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/content/Gran_Encuesta_Integrada_de_Hogares.csv", delimiter=";")

Index(['directorio', 'año', 'orden', 'hogar', 'secuencia_p', 'segmento',
       'area', 'mes', 'dpto', 'mpio',
       ...
       'p750s2a1', 'p750s3', 'p750s3a1', 'p750s4', 'p7510s5', 'p7510s5a1',
       'p7510s6', 'p7510s6a1', 'p7510s7', 'p7510s7a1'],
      dtype='object', length=397)

In [33]:
# Realizar una exploración inicial del conjunto de datos
print("Información del conjunto de datos:")
print(data.info())

Información del conjunto de datos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132188 entries, 0 to 132187
Columns: 397 entries, directorio to p7510s7a1
dtypes: float64(352), int64(12), object(33)
memory usage: 400.4+ MB
None

In [34]:
# Selecciona las columnas relevantes que mencionaste en tu descripción
columnas_relevantes = [
    'directorio','año','orden','hogar','secuencia_p','segmento','area','mes','dpto',
    'mpio','periodo','trimestre','p6016','p6020', 'p6030s1', 'p6030s2', 'p6030s3',
    'p6040', 'p6050', 'p6090', 'p6100', 'p6125', 'p6160', 'p6170', 'p6210', 'p6210s1', 'comuna',
    'dscy', 'p9460', 'p7422', 'dsi', 'p744', 'p7440', 'p7450', 'p7450s1', 'p7452', 'p7454', 'p7456',
    'p7458', 'p7458s1', 'p7472', 'p7472s1'
]

In [35]:
nuevo_data = data[columnas_relevantes].copy()


# Guarda el nuevo DataFrame en un archivo CSV
nuevo_data.to_csv('conjunto_de_datos_reducido.csv', index=False)

# Imprime la información del nuevo DataFrame
print("Información del nuevo conjunto de datos:")
print(nuevo_data.info())

Información del nuevo conjunto de datos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132188 entries, 0 to 132187
Data columns (total 42 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   directorio   132188 non-null  float64
 1   año          132188 non-null  float64
 2   orden        132188 non-null  int64
 3   hogar        66976 non-null   float64
 4   secuencia_p  132188 non-null  int64
 5   segmento     49093 non-null   float64
 6   area         132188 non-null  int64
 7   mes          49313 non-null   float64
 8   dpto         132188 non-null  int64
 9   mpio         132188 non-null  int64
 10  periodo      36430 non-null   float64
 11  trimestre    24235 non-null   float64
 12  p6016        66976 non-null   float64
 13  p6020        132188 non-null  int64
 14  p6030s1      131859 non-null  float64
 15  p6030s2      48939 non-null   float64
 16  p6030s3      131858 non-null  float64
 17  p6040        132188 non-null  int64
 18  p6050        132188 non-null  int64
 19  p6090        132188 non-null  int64
 20  p6100        124915 non-null  float64
 21  p6125        132188 non-null  int64
 22  p6160        127767 non-null  float64
 23  p6170        127767 non-null  float64
 24  p6210        127767 non-null  float64
 25  p6210s1      127767 non-null  float64
 26  comuna       132188 non-null  int64
 27  dscy         6801 non-null    float64
 28  p9460        6739 non-null    float64
 29  p7422        6739 non-null    float64
 30  dsi          6801 non-null    float64
 31  p744         701 non-null     float64
 32  p7440        22974 non-null   float64
 33  p7450        22974 non-null   float64
 34  p7450s1      584 non-null     object
 35  p7452        22974 non-null   float64
 36  p7454        19011 non-null   float64
 37  p7456        2788 non-null    float64
 38  p7458        23998 non-null   float64
 39  p7458s1      6973 non-null    object
 40  p7472        41985 non-null   float64
 41  p7472s1      759 non-null     float64
dtypes: float64(29), int64(11), object(2)
memory usage: 42.4+ MB
None